<div class="container"><br>
  <header class="p4 d-flex flex-row justify-content-between">
    <h1>Quote of the Month</h1>&nbsp;
  
  </header>
  
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h4>QUOTE</h4></th>
          <th><h4>AUTHOR</h4></th>
          <th><h4>DAYS ELAPSED</h4></th>
          <th colspan="3"><h4>VOTES</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>UserQuotePlaceholder</td>
          <td>QuoteAuthorPlaceholder</td>
          <td>ElapsedDaysPlaceholder</td>

          <td>&nbsp;&nbsp;
            <button  class="buttonVote" type ="button"  name="upVote" class="btn btn-success btn-small qBtn">
            + Up Vote</button>&nbsp;
            <button class="buttonVote" type="button"  name="downVote" class="btn btn-danger btn-small qBtn">
            Down Vote -</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>