<ng-template #quoteFormContent let-modal> <!--Creates a new Angular bootstrap modal component,-->
                                          <!--assigning it to this template element by the specified id.-->
  <div class="modal-header">                       
     <h3 class="modal-title" id="modal-basic-title">Add A New Quote Here</h3>
    <button type="button" class="close btn btn-outline-secondary" 
            aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>  
  </div>

<div class="modal-body">
   <form action="" (submit)="listQuoteInput($event)">
    <div class="form-group">
      <label for="yourAuthorName">Indicate the Quote Author:</label>
      <input type="text" name="authorNameInput" rows="1" class="form-control" required>
      <label for="yourQuoteInput">Input the Quote:</label>
      <textarea type="text" name="quoteTextArea" id="quoteText" rows="5" class="form-control" required></textarea>
      <div id="errorTxt" class="invalid-feedback">
        Please type in a Quote to be listed
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Submit Quote</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Exit</button>
    </div>
  </form>
</div>
</ng-template>

<div class="container"><br>
  <header class="p4 d-flex flex-row justify-content-between">
    <h1>Quote of the Month</h1>&nbsp;
    <div>
        <button name="quoteModal" type ="button" class="btn btn-outline-primary btn-lg qBtn"
        (click)="openQuoteModal(quoteFormContent)">Add New Quote</button>
      </div><br>
  </header>


  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h4>QUOTE</h4></th>
          <th><h4>AUTHOR</h4></th>
          <th><h4>DAYS ELAPSED</h4></th>
          <th colspan="3"><h4>VOTES</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objectQuote of quoteInputs; index as i"> 
              <!-- Display each user quote pushed into our quoteInputs array-->
              <!-- from the modal form on our view-port, by apply angular's-->
              <!-- 'For' loop statement to enable looping through the quoteInputs-->
              <!-- array, rendering each of our user quoteInputs array items -->
              <!-- in the assigned template table element-->
             
          <td>{{objectQuote.newUserQuote}}</td>
          <td>{{objectQuote.quoteAuthor}}</td>
          <td>{{objectQuote.daysElapsed}}</td>
          <td>VotesGarneredPlaceholder</td>
          <td>&nbsp;&nbsp;
            <button  class="buttonVote" type ="button"  name="upVote" class="btn btn-success btn-small qBtn">
            + Up Vote</button>&nbsp;
            <button class="buttonVote" type="button"  name="downVote" class="btn btn-danger btn-small qBtn">
            Down Vote -</button>
          </td>
          <td>
            <button type="button" class="btn btn-secondary qBtn" (click)="deleteQuoteEntry(i)">Remove</button>          </td>
        </tr>
      </tbody>

    </table>
  </div>